.contact-main {
    margin-top: 80px;
}
.contact-list {
    background: #2e3238;
    max-width: 280px;
    min-height: 600px;
    max-height: 800px;
    padding: 18px 0;
    z-index: 2;
}
.contact-list .friend {
    text-align: left;
    vertical-align:middle;
    cursor: pointer;
    padding: 7px 8px 7px 18px;
    background-color: transparent;
    border-bottom: 1px solid #292c33;
}
.contact-list .friend:hover,
.contact-list .friend.current {
    background-color: rgba(255,255,255,0.2);
}
.contact-list .portrait,
.message-box .portrait{
    width: 40px;
    height:40px;
    float:left;
}
.contact-main ul li {
    list-style: none;
}
.contact-list .info,
.message-box .info{
    display: block;
    padding-left:8px;
    margin-left: 40px;
}
.message-box .text-r .info {
    margin-right:40px;
    padding-right:8px;
}
.contact-list .nick,
.message-box .nick{
    /*昵称*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: white;
}
.message-box .nick {
    color: #4f4f4f;
}
.contact-list .msg,
.message-box .msg {
    /*最近一条信息*/
    color: #989898;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    height: 1.5em;
}
.contact-list .time,
.message-box .time {
    /*最近一条信息*/
    display:inline-block;
    padding:0 14px;
}
.float-r {
    float: right !important;
}
.text-r {
    text-align: right !important;
}
.text-c {
    text-align: center !important;
}
.message-box {
    min-height: 600px;
    max-height: 800px;
    background-color: #eee;
    z-index: 1;
}
.message-container {
    width:100%;
    height:100%;
    padding: 14px;
}